.productSection {
    width: 100%;
    max-width: 100vw;
    padding-block: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7;
    background-image: url('../../assets/background-draw.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    .productSectionTitle {
        text-align: center;
        font-size: 8rem;
        font-family: 'Satoshi-Bold';
        color: #002021;
    }
    .productContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 100px;
        @media (max-width: 767px) {
            width: 90%;
        }
    }

    .productsDiv {
        display: flex;
        width: 50%;
        height: 50vh;
        .productsUl {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .productsImg img{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .productSection {
        width: 100%;
        max-width: 100vw;
        padding-block: 50px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .productSectionTitle {
            text-align: center;
            font-size: 5rem;
            font-family: 'Satoshi-Variable';
            color: #002021;
        }
        .productContent {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding-inline: 20px;
            gap: 50px;
        }
    
        .productsDiv {
            display: flex;
            width: 100%;
            height: 100%;
            .productsUl {
                gap: 20px;
                flex-wrap: wrap; 
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    
        .productsImg img{
            width: 100%;
        }
    }
}

