.hope-header {
    font-family: 'Montserrat';
    height: 72px;
    width: 100%;
    padding: 0 50px;
    margin: auto;
    display: flex;
    color: #f5f5f5;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: .5s ease;
    z-index: 99;
    background: rgba(0, 0, 0, 0.075);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(0, 0, 0, 0.03);

    &.hope-header-scrolled {
        background: rgba(0, 0, 0, 0.904);

        height: 60px;
        a {
            h2 {
                transform: scaleX(0);
            }
            img {
                transform: scale(.9);
            }
        }
        nav {
            ul {
                li {
                    a {
                        font-size: 14px;

                    }
                }
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        
        h2 {
            font-weight: 600;
            font-size: 20px;
            transform-origin: left;
            transition: transform 0.2s ease;
        }
        
        img {
            transform-origin: left;
            transition: transform 0.2s ease;
            width: 50px;
        }
    }


    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style: none;
            gap: 40px;
            li {
                a {
                    color: #f5f5f5;
                    text-decoration: none;
                    padding: 10px 40px;
                    border: transparent 1px solid;
                    transition: all 0.3s ease;
                    border-radius: 50px;
                }
                :hover {
                    border: #f5f5f5 1px solid;
                }
            }

        }
    }
    .contactLi {
        border: #f5f5f5 1px solid;
        border-radius: 50px;
        
    }
    
    
}