/* .fraseSection {
    height: 70vh;
    padding-block: 80px;
    width: 100%;
    max-width: 100vw;

    
    .fraseAnimated {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 10rem;
        font-family: 'ClashMedium';
        padding-inline: 150px;
        .fraseCinza {
            opacity: .12;
        }
        .fraseVerde {
            transition: .5s;
            position: absolute;
            color: #002021;
            width: 0%;
            overflow-x: hidden;
            white-space: nowrap;
        }
    }
}



@media (max-width: 500px) {
    .fraseSection {
        height: 50vh;
        padding-block: 20px;
        width: 100%;
        max-width: 100vw;
    
        .fraseResumo {
            text-align: center;
            font-size: 3rem;
            color: #696969;
        }
        .fraseAnimated {
            flex-direction: row;
            align-items: center;
            font-size: 3.5rem;
            padding-inline: 20px;
            
        }
    }
} */

.fraseResumo {
    text-align: center;
    font-size: 2rem;
    color: #696969;
    margin-bottom: 30px;
}

.line {
    position: relative;
    display: table !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2px;
    padding-left: 1px;
    color: #002021;
    font-size: 88px;
    line-height: 80px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    font-family: 'ClashMedium';
  }
  
  .line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.8;
    width: 100%;
    bottom: -5px;
    z-index: 2;
  }

  .hopeFrase{
    background: #fff;
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width:767px){
    .line{
        position: relative;
        display: table !important;
        width: auto !important;
        margin-left: auto;
        margin-right: auto;
        padding-right: 2px;
        padding-left: 1px;
        color: #002021;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        line-height: 32px;
        font-family: 'ClashMedium';
    }

    .hopeFrase{
        height: 45vh;
    }
  }