.fraseResumo {
    text-align: center;
    font-size: 4rem;
    color: #696969;
    margin-bottom: 30px;
}

.line {
    position: relative;
    width: auto !important;
    margin: 0 auto;
    color: #FFAA47;
    font-size: 12rem;
    line-height: 11rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Satoshi-Variable';
  }
  
  .line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f7f7f7;
    opacity: 0.8;
    width: 100%;
    bottom: -50px;
    z-index: 2;
  }

  .hopeFrase{
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width:767px){
    .line{
        font-size: 3.5rem;
        line-height: 3.8rem;
    }
    .hopeFrase{
        height: 45vh;
    }
  }