.hope-solution-section {
    background-color: #fefefe;
    width: 100%;
    display: flex;
    font-family: 'Montserrat';
    .stickyContainer {
        padding: 200px 100px;
        width: 50%;
        height: 100vh;
        position: sticky;
        top: 0; /* Define a posição de fixação no topo */
        h1 {
            color: #292929;
            font-size: 80px;
        }
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    .sliderContainer {
        padding: 100px 100px;
        display: flex;
        flex-direction: column;
        
        width: 50%;
        height: auto;
        &:last-child {
            margin-bottom: 50vh;
        }
    }
}