.hope-solution-section {
    background-color: #fefefe;
    max-width: 100vw;
    width: 100%;
    display: flex;
    font-family: 'Montserrat';
    .stickyContainer {
        padding: 200px 100px;
        width: 50%;
        height: 100vh;
        position: sticky;
        top: 0; /* Define a posição de fixação no topo */
        h1 {
            color: #292929;
            font-size: 8rem;
            font-family: 'ClashRegular';
        }
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    .sliderContainer {
        padding: 100px 100px;
        display: flex;
        flex-direction: column;
        
        width: 50%;
        height: auto;
        &:last-child {
            margin-bottom: 50vh;
        }
    }
}

@media (max-width: 767px) {
    .hope-solution-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        .stickyContainer {
            padding: 60px 20px;
            max-width: 100vw;
            width: 100%;
            height: calc(100% + 50px); 
            position: static;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                color: #292929;
                font-size: 4.5rem;
                font-family: 'ClashRegular';
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
        .sliderContainer {
            padding: 20px;
            
            width: 100%;
            height: auto;
            &:last-child {
                margin-bottom: 50px;
            }
        }
    }
}