footer {
    width: 100%;
    max-width: 100vw;
    font-family: 'Satoshi-Variable';
    background-color: #f7f7f7;
    background-image: url('../../assets/background-draw-green.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position-y: 100%;
    .footerHope {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 8rem;
        .footerContent {
            flex-direction: column;
            align-items: flex-end;
            display: flex;
            font-weight: 600;
            width: 45%;
            gap: 3rem;
            h1 {
                color: #24464F;
                font-size: 6rem;
                font-style: italic;
            }
            ul {
                li {
                    margin-block: 1rem;
                    a {
                        transition: .2s ease;
                        font-size: 1.8rem;
                        img {
                            transition: .2s ease;
                        }
                    }
                    &:hover {
                        a {
                            text-shadow: #121212 0px 0px 1px;
                        }
                    }
                }
            }
        }
        .contactLink {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
        }
        .vitseFooterSpan {
            font-style: normal;
            font-weight: bolder;
        }
    }
    .footerCopyright {
        color: #24464F;
        text-align: left;
        padding: 1rem 8rem;
        font-size: 2.5rem;
        font-weight: 300;
    }
    .mockupDiv {
        width: 55%;
    }

    .contactButton {
        color: #FFFFFF;
        background-color: #FFAA47;
        font-size: 4rem;
        padding: 1.5rem 3rem;
        border-radius: 80px;
        transition: .5s ease-in-out;
        border: transparent 1px solid;
        &:hover {
            transform: scale(1.02);
        }
    }
}

@media (max-width: 767px) {
    footer {
        .footerHope {
            flex-direction: column;
            padding: 0;
            gap: 5rem;
            .footerContent {
                width: 90%;
                align-items: center;
                h1 {
                    font-size: 3.5rem;
                }
                display: flex;
                flex-direction: column;
                ul {
                    li {
                        a {
                            justify-content: center;
                            font-size: 2rem;
                            img {
                                transition: .2s ease;
                                width: 30px;
                            }
                        }
                    }               
                }
                
            }
        }
        .solutionBy {
            font-size: 1.6rem;
            align-self: start;
            img {
                width: 200px;
            }
        }
        .footerCopyright {
            color: #CECECE;
            text-align: center;
            padding-top: 20px;
            font-size: 1.4rem;
        }
        .mockupDiv {
            width: 90%;
            margin: auto;
        }
        .contactButton {
            color: #FFFFFF;
            background-color: #FFAA47;
            font-size: 2.5rem;
        }
    }
}