.listProduct {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Satoshi-Bold';
    font-size: 2.8rem;
    color: #24464F;
    img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 767px) {
    .listProduct {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.5rem;
        img {
            width: 30px;
            height: 30px;
        }
    }
}