@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

  @layer base {
    :root {
      --header-background: #002021;

      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 100 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }


  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('./assets/fonts/Satoshi-Variable.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Variable.woff') format('woff'),
         url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('./assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('./assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('./assets/fonts/Satoshi-Light.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Light.woff') format('woff'),
         url('./assets/fonts/Satoshi-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('./assets/fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-LightItalic.woff') format('woff'),
         url('./assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('./assets/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Regular.woff') format('woff'),
         url('./assets/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('./assets/fonts/Satoshi-Italic.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Italic.woff') format('woff'),
         url('./assets/fonts/Satoshi-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Medium.woff') format('woff'),
         url('./assets/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('./assets/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('./assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Bold.woff') format('woff'),
         url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('./assets/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('./assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('./assets/fonts/Satoshi-Black.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-Black.woff') format('woff'),
         url('./assets/fonts/Satoshi-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('./assets/fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('./assets/fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('./assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: italic;
  }
  

  html {
    font-size: calc(100vw / 1920 * 10) !important;
  }

  @media (max-width: 1250px) {
    html {
      font-size: calc(100vw / 1250 * 10) !important;
    }
  }
  @media (max-width: 500px) {
    html {
      font-size: calc(100vw / 500 * 10) !important;
    }
  }

  body{
    overflow-x: hidden;
  }

  ::selection
  {
    background: #002021;
    color: #fff;
  }

  body::-webkit-scrollbar {
    width: 7px;
  }
  body::-webkit-scrollbar-thumb {
    background: #002021;
    border-radius: 30px;
  }
  body::-webkit-scrollbar-track {
    background: #fff;
  }